# 모의고사 1회

In [ ]:
#@title  작업 1유형
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv')

df.head()

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,campaign,pdays,previous,poutcome,y
0,13829,29,technician,single,tertiary,no,18254,no,no,cellular,11,may,2,-1,0,unknown,no
1,22677,26,services,single,secondary,no,512,yes,yes,unknown,5,jun,3,-1,0,unknown,no
2,10541,30,management,single,secondary,no,135,no,no,cellular,14,aug,2,-1,0,unknown,no
3,13689,41,technician,married,unknown,no,30,yes,no,cellular,10,jul,1,-1,0,unknown,no
4,11304,27,admin.,single,secondary,no,321,no,yes,unknown,2,sep,1,-1,0,unknown,no

In [ ]:
# 1. 마케팅 응답 고객들의 나이를 10살 단위로 변환 했을 때, 가장 많은 인원을 가진 나이대는? (0~9 : 0 , 10~19 : 10)

print((df["age"] // 10 * 10).value_counts().index[0])

30

In [ ]:
# 2. 마케팅 응답 고객들의 나이를 10살 단위로 변환 했을 때, 가장 많은 나이대 구간의 인원은 몇명인가?

print((df["age"] // 10 * 10).value_counts().iloc[0])

5056

In [ ]:
# 3. 나이가 25살 이상 29살 미만인 응답 고객들중 housing컬럼의 값이 yes인 고객의 수는?

print(df[(df["age"] >= 25) & (df["age"] < 29) & (df["housing"] == "yes")].shape[0])

504

In [ ]:
# 4. numeric한 값을 가지지 않은 컬럼들중 unique한 값을 가장 많이 가지는 컬럼은?

lst = []
for col in df.select_dtypes(exclude = "int"):
  target = df[col]
  lst.append([col, target.nunique()])

print(pd.DataFrame(lst).sort_values(1, ascending = False).iloc[0, 0])

job

In [ ]:
# 5. balance 컬럼값들의 평균값 이상을 가지는 데이터를 ID값을 기준으로 내림차순 정렬했을때 상위 100개 데이터의 balance값의 평균은?

print(df[df["balance"] >= df["balance"].mean()].sort_values("ID", ascending = False).head(100)["balance"].mean())

3473.73

In [ ]:
# 6. 가장 많은 광고를 집행했던 날짜는 언제인가? (데이터 그대로 일(숫자),달(영문)으로 표기)

print(df[["day", "month"]].value_counts().index[0])

(15, 'may')

In [ ]:
# 7. 데이터의 job이 unknown 상태인 고객들의 age 컬럼 값의 정규성을 검정하고자 한다. 샤피로 검정의 p-value값을 구하여라

from scipy import stats
print(stats.shapiro(df["age"][df["job"] == "unknown"])[1])

0.19612720608711243

In [ ]:
# 8. age와 balance의 상관계수를 구하여라

print(df[["age", "balance"]].corr().iloc[1, 0])

0.10198734763981462

In [ ]:
# 9. y 변수와 education 변수는 독립인지 카이제곱검정을 통해 확인하려한다. p-value값을 출력하라

from scipy import stats

print(stats.chi2_contingency(pd.crosstab(df["y"],df["education"]))[1])

7.901201277473551e-29

In [ ]:
# 10. 각 job에 따라 divorced/married 인원의 비율을 확인 했을 때 그 값이 가장 높은 값은?

ratio_df = df.groupby(["job", "marital"]).size().reset_index().pivot_table(index = "job", columns = "marital")[0].fillna(0)
ratio_df["ratio"] = ratio_df["divorced"] / ratio_df["married"]

print(ratio_df.sort_values("ratio", ascending = False)["ratio"][0])

0.2831050228310502

In [ ]:
#@title 작업 2유형
import pandas as pd
train= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv')
test= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/test.csv')
submission= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/submission.csv')

display(train.head())
display(test.head())
display(submission.head())

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,campaign,pdays,previous,poutcome,y
0,13829,29,technician,single,tertiary,no,18254,no,no,cellular,11,may,2,-1,0,unknown,no
1,22677,26,services,single,secondary,no,512,yes,yes,unknown,5,jun,3,-1,0,unknown,no
2,10541,30,management,single,secondary,no,135,no,no,cellular,14,aug,2,-1,0,unknown,no
3,13689,41,technician,married,unknown,no,30,yes,no,cellular,10,jul,1,-1,0,unknown,no
4,11304,27,admin.,single,secondary,no,321,no,yes,unknown,2,sep,1,-1,0,unknown,no

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,campaign,pdays,previous,poutcome
0,53608,32,management,single,tertiary,no,12569,no,no,cellular,1,jul,2,295,2,success
1,51055,25,services,single,secondary,no,801,no,no,cellular,5,jun,2,-1,0,unknown
2,52573,46,blue-collar,married,secondary,no,1728,yes,no,unknown,26,may,2,-1,0,unknown
3,50458,39,management,divorced,secondary,no,51,no,no,unknown,17,jun,2,-1,0,unknown
4,52272,31,services,single,tertiary,no,1626,no,no,unknown,31,jul,1,-1,0,unknown

      ID  predict
0  53608      0.0
1  51055      0.0
2  52573      0.0
3  50458      0.0
4  52272      0.0

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.metrics import roc_auc_score

train= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv')
test= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/test.csv')
submission= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/submission.csv')

y_train = train.pop("y")
test_id = test.pop("ID")

train = train.drop(["day", "month", "ID"], axis = 1)
test = test.drop(["day", "month"], axis = 1)

label = LabelEncoder()
train["job"] = label.fit_transform(train["job"])
train["marital"] = label.fit_transform(train["marital"])
train["education"] = label.fit_transform(train["education"])
train["default"] = label.fit_transform(train["default"])
train["housing"] = label.fit_transform(train["housing"])
train["loan"] = label.fit_transform(train["loan"])
train["contact"] = label.fit_transform(train["contact"])
train["poutcome"] = label.fit_transform(train["poutcome"])
test["job"] = label.fit_transform(test["job"])
test["marital"] = label.fit_transform(test["marital"])
test["education"] = label.fit_transform(test["education"])
test["default"] = label.fit_transform(test["default"])
test["housing"] = label.fit_transform(test["housing"])
test["loan"] = label.fit_transform(test["loan"])
test["contact"] = label.fit_transform(test["contact"])
test["poutcome"] = label.fit_transform(test["poutcome"])
y_train = label.fit_transform(y_train)

scale = MinMaxScaler()
target = ["balance", "pdays"]
train[target] = scale.fit_transform(train[target])

X_tr, X_val, y_tr, y_val = train_test_split(train, y_train, test_size = 0.25, random_state = 1234)

nb = GaussianNB()
nb.fit(X_tr, y_tr)
pred = nb.predict(X_val)
print("Naive Bayes -", roc_auc_score(y_val, pred))

lr = LogisticRegression()
lr.fit(X_tr, y_tr)
pred = lr.predict(X_val)
print("Logistic Regression -", roc_auc_score(y_val, pred))

dt = DecisionTreeClassifier()
dt.fit(X_tr, y_tr)
pred = dt.predict(X_val)
print("Decision Tree -", roc_auc_score(y_val, pred))

rf = RandomForestClassifier(max_depth = 30, n_estimators = 500, min_samples_leaf = 5)
rf.fit(X_tr, y_tr)
pred = rf.predict(X_val)
print("Random Forest -", roc_auc_score(y_val, pred))

xgb = XGBClassifier()
xgb.fit(X_tr, y_tr)
pred = xgb.predict(X_val)
print("XGBoost -", roc_auc_score(y_val, pred))

model = RandomForestClassifier(max_depth = 30, n_estimators = 500, min_samples_leaf = 5)
model.fit(train, y_train)
prediction = model.predict_proba(test)[:,1]

result = pd.DataFrame({"ID":test_id, "predict":prediction})
result.to_csv("result.csv", index = False)

Naive Bayes - 0.6531709096932619

/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Logistic Regression - 0.6017218338470631
Decision Tree - 0.6063214492773088
Random Forest - 0.6660616072687712
XGBoost - 0.6564849697694148

# 모의고사 2회

In [ ]:
#@title 작업 1유형(1~5번)
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv')
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1192,Female,31,0,0,No,Govt_job,Rural,70.66,27.2,never smoked,0
1,77,Female,13,0,0,No,children,Rural,85.81,18.6,Unknown,0
2,59200,Male,18,0,0,No,Private,Urban,60.56,33.0,never smoked,0
3,24905,Female,65,0,0,Yes,Private,Urban,205.77,46.0,formerly smoked,1
4,24257,Male,4,0,0,No,children,Rural,90.42,16.2,Unknown,0

In [ ]:
# 1. 성별이 Male인 환자들의 age의 평균값은 ?

print(df["age"].str.replace("*","").astype("int")[df["gender"] == "Male"].mean())

44.68623481781376

<ipython-input-34-a5629ee1dae4>:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  print(df["age"].str.replace("*","").astype("int")[df["gender"] == "Male"].mean())

In [ ]:
# 2. bmi컬럼의 결측치를 bmi컬럼의 결측치를 제외한 나머지 값들의 중앙값으로 채웠을 경우 bmi 컬럼의 평균을 소숫점 이하 3자리 까지 구하여라

print(round(df["bmi"].fillna(df["bmi"].median()).mean(), 3))

29.166

In [ ]:
# 3. bmi컬럼의 각 결측치들을 직전의 행의 bmi값으로 채웠을 경우 bmi 컬럼의 평균을 소숫점 이하 3자리 까지 구하여라

print(round(df["bmi"].fillna(method = "ffill").mean(), 3))

29.188

In [ ]:
# (4. bmi컬럼의 각 결측치들을 결측치를 가진 환자 나이대(10단위)의 평균 bmi 값으로 대체한 후 대체된 bmi 컬럼의 평균을 소숫점 이하 3자리 까지 구하여라)
# Noise 데이터 int형 변환
df['age'] = df['age'].str.replace('*','').astype('int')

# 결측치 제외 나이대별 평균값 계산 및 dictionary 형태로 변환
mean = df[df.bmi.notnull()].groupby(df.age//10 *10).bmi.mean()
dic = { x:y for x,y in mean.items()}


idx =df.loc[df.bmi.isnull(),['age','bmi']].index
# 결측치 매핑
df.loc[df.bmi.isnull(),'bmi']  =(df[df.bmi.isnull()].age//10*10).map(lambda x : dic[x])

result = df.bmi.mean()
print(result)

29.2627029367386

<ipython-input-55-c19258da5930>:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['age'] = df['age'].str.replace('*','').astype('int')

In [ ]:
# 5. avg_glucose_level 컬럼의 값이 200이상인 데이터를 모두 199로 변경하고 stroke값이 1인 데이터의 avg_glucose_level값의 평균을 소수점이하 3자리 까지 구하여라

df["avg_glucose_level"][df["avg_glucose_level"] >= 200] = 199

print(round(df["avg_glucose_level"][df["stroke"] == 1].mean(), 3))

125.188

<ipython-input-65-4a785b275bb2>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["avg_glucose_level"][df["avg_glucose_level"] >= 200] = 199

In [ ]:
#@title 작업 1유형(6~10번)

import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv')
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [ ]:
# 6. Attack컬럼의 값을 기준으로 내림차순정렬 했을때 상위 400위까지 포켓몬들과 401~800위까지의 포켓몬들에서 전설포켓몬(Legendary컬럼)의 숫자 차이는?

attack = df.sort_values("Attack", ascending = False)
print(abs(attack.head(400)["Legendary"].sum() - attack.tail(400)["Legendary"].sum()))

57

In [ ]:
# 7. Type 1 컬럼의 종류에 따른 Total 컬럼의 평균값을 내림차순 정렬했을때 상위 3번째 Type 1은 무엇인가?

print(df.groupby("Type 1")["Total"].mean().sort_values(ascending = False).index[2])

Flying

In [ ]:
# 8. 결측치가 존재하는 행을 모두 지운 후 처음부터 순서대로 60% 데이터를 추출하여 Defense컬럼의 1분위수를 구하여라

df_new = df.dropna()
print(df_new[:int(len(df_new) * 0.6)]["Defense"].quantile(0.25))

50.0

In [ ]:
# 9. Type 1 컬럼의 속성이 Fire인 포켓몬들의 Attack의 평균이상인 Water속성의 포켓몬 수를 구하여라

print(len(df[(df["Type 1"] == "Water") & (df["Attack"] >= df["Attack"][df["Type 1"] == "Fire"].mean())]))

37

In [ ]:
# 10. 각 세대 중(Generation 컬럼)의 Speed와 Defense 컬럼의 차이(절댓값)이 가장 큰 세대는?

print(df.groupby("Generation")[["Speed", "Defense"]].mean().T.diff().T.sort_values("Defense", ascending = False).index[0])

2

In [ ]:
#@title 작업 2유형

import pandas as pd
train= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv')
test= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/test.csv')

display(train.head())
display(test.head())

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1192,Female,31,0,0,No,Govt_job,Rural,70.66,27.2,never smoked,0
1,77,Female,13,0,0,No,children,Rural,85.81,18.6,Unknown,0
2,59200,Male,18,0,0,No,Private,Urban,60.56,33.0,never smoked,0
3,24905,Female,65,0,0,Yes,Private,Urban,205.77,46.0,formerly smoked,1
4,24257,Male,4,0,0,No,children,Rural,90.42,16.2,Unknown,0

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,47472,Female,58,0,0,Yes,Private,Urban,107.26,38.6,formerly smoked
1,36841,Male,78,1,0,Yes,Self-employed,Rural,56.11,25.5,formerly smoked
2,3135,Female,73,0,0,No,Self-employed,Rural,69.35,NaN,never smoked
3,65218,Male,2,0,0,No,children,Rural,109.10,20.0,Unknown
4,1847,Female,20,0,0,No,Govt_job,Rural,79.53,NaN,never smoked

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.metrics import roc_auc_score

# 데이터셋 불러오기
X_train = train.drop("id", axis = 1)
y_train = X_train.pop("stroke")

X_test = test
test_id = X_test.pop("id")

# 결측값 처리
X_train["bmi"] = X_train["bmi"].fillna(X_train["bmi"].mean())
X_test["bmi"] = X_test["bmi"].fillna(X_test["bmi"].mean())

# 범주형 변수 변환
X_train["age"] = X_train["age"].str.replace("*", "").astype(int)
X_test["age"] = X_test["age"].astype(int)

label = LabelEncoder()

X_train["gender"] = label.fit_transform(X_train["gender"])
X_train["ever_married"] = label.fit_transform(X_train["ever_married"])
X_train["work_type"] = label.fit_transform(X_train["work_type"])
X_train["Residence_type"] = label.fit_transform(X_train["Residence_type"])
X_train["smoking_status"] = label.fit_transform(X_train["smoking_status"])

X_test["gender"] = label.fit_transform(X_test["gender"])
X_test["ever_married"] = label.fit_transform(X_test["ever_married"])
X_test["work_type"] = label.fit_transform(X_test["work_type"])
X_test["Residence_type"] = label.fit_transform(X_test["Residence_type"])
X_test["smoking_status"] = label.fit_transform(X_test["smoking_status"])

# 데이터 정규화
scale = MinMaxScaler()
X_train["avg_glucose_level"] = scale.fit_transform(X_train[["avg_glucose_level"]])

# 데이터셋 분리
X_tr, X_val, y_tr, y_val = train_test_split(X_train, y_train, test_size = 0.25, random_state = 222)

# 모델링
nb = GaussianNB()
nb.fit(X_tr, y_tr)
pred = nb.predict(X_val)
print("Naive Bayes -", roc_auc_score(y_val, pred))

lr = LogisticRegression()
lr.fit(X_tr, y_tr)
pred = lr.predict(X_val)
print("Logistic Regression -", roc_auc_score(y_val, pred))

dt = DecisionTreeClassifier()
dt.fit(X_tr, y_tr)
pred = dt.predict(X_val)
print("Decision Tree -", roc_auc_score(y_val, pred))

rf = RandomForestClassifier()
rf.fit(X_tr, y_tr)
pred = rf.predict(X_val)
print("Random Forest -", roc_auc_score(y_val, pred))

xgb = XGBClassifier()
xgb.fit(X_tr, y_tr)
pred = xgb.predict(X_val)
print("XGBoost -", roc_auc_score(y_val, pred))

# 최종 모델 선정
model = GaussianNB()
model.fit(X_train, y_train)
prediction = model.predict(X_test)

# 결과물 출력
result = pd.DataFrame({"id":test_id, "stroke":prediction})
result.to_csv("result.csv", index = False)

<ipython-input-6-26d64e60e772>:25: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  X_train["age"] = X_train["age"].str.replace("*", "").astype(int)
/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Naive Bayes - 0.7455517792882848
Logistic Regression - 0.5589264294282288
Decision Tree - 0.6114054378248701
Random Forest - 0.5223410635745702
XGBoost - 0.5995101959216314

In [ ]:
from sklearn.metrics import confusion_matrix

confusion_matrix(y_val, pred)

array([[221,  23],
       [ 17,  24]])

# 모의고사 3회

In [ ]:
#@title 작업 1유형

import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/spotify/spotify.csv')
df.head()

,title,artist,top genre,year released,added,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop,top year,artist type
0,STARSTRUKK (feat. Katy Perry),3OH!3,dance pop,2009.0,2022‑02‑17,140.0,81.0,61.0,-6.0,23.0,23.0,203.0,0.0,6.0,70.0,2010.0,Duo
1,My First Kiss (feat. Ke$ha),3OH!3,dance pop,2010.0,2022‑02‑17,138.0,89.0,68.0,-4.0,36.0,83.0,192.0,1.0,8.0,68.0,2010.0,Duo
2,I Need A Dollar,Aloe Blacc,pop soul,2010.0,2022‑02‑17,95.0,48.0,84.0,-7.0,9.0,96.0,243.0,20.0,3.0,72.0,2010.0,Solo
3,Airplanes (feat. Hayley Williams of Paramore),B.o.B,atl hip hop,2010.0,2022‑02‑17,93.0,87.0,66.0,-4.0,4.0,38.0,180.0,11.0,12.0,80.0,2010.0,Solo
4,Nothin' on You (feat. Bruno Mars),B.o.B,atl hip hop,2010.0,2022‑02‑17,104.0,85.0,69.0,-6.0,9.0,74.0,268.0,39.0,5.0,79.0,2010.0,Solo

In [ ]:
# 1. 데이터는 현재 년도별 100곡이 인기순으로 정렬되어 있다. 각 년도별 1~100위의 랭킹을 나타내는 rank컬럼을 만들고 매년도 1위의 bpm컬럼의 평균값을 구하여라

df = df.dropna()

rank = []
for j in range(10):
  for i in range(1, 101):
    rank.append(i)

df["rank"] = rank

print(df["bpm"][df["rank"] == 1].mean())

125.6

In [ ]:
# 2. 2015년도에 가장많은 top100곡을 올린 artist는 누구인가?

print(df[df["top year"] == 2015].value_counts("artist").index[0])

Taylor Swift

In [ ]:
# 3. 년도별 rank값이 1~10위 까지의 곡들 중 두번째로 많은 top genre는 무엇인가?

print(df[df["rank"].isin(range(1,11))].value_counts("top genre").index[1])

atl hip hop

In [ ]:
# 4. 피처링의 경우 title에 표시된다. 피처링을 가장 많이 해준 가수는 누구인가?

print(df["title"].str.split("feat. ").str[1].dropna().str[:-1].str.strip().value_counts().index[0])

Bruno Mars

In [ ]:
# 5. top year 년도를 기준으로 발매일(year released)과 top100에 진입한 일자 (top year)가 다른 곡의 숫자를 count 했을때 가장 많은 년도는?

print(df[df["top year"] != df["year released"]].value_counts("top year").index[0])

2016.0

In [ ]:
# 6. artist 컬럼의 값에 대소문자 상관없이 q 단어가 들어가는 아티스트는 몇명인가?

print(df["artist"][df["artist"].str.lower().str.contains("q")].nunique())

6

In [ ]:
# 7. 년도 상관없이 전체데이터에서 1~50위와 51~100위간의 dur 컬럼의 평균값의 차이는?

print(abs(df["dur"][df["rank"].isin(range(1, 51))].mean() - df["dur"][df["rank"].isin(range(51, 101))].mean()))

0.896000000000015

In [ ]:
# 8. title을 띄어쓰기 단어로 구분 했을때 가장 많이 나온 단어는 무엇인가? (대소문자 구분 x)

print(df["title"].str.split("\(feat.").str[0].str.lower().str.split().explode().value_counts().index[0])

the

In [ ]:
# 9. 년도별 nrgy값의 평균값을 구할때 최대 평균값과 최소 평균값의 차이를 구하여라

mean = df.groupby("top year")["nrgy"].mean().sort_values(ascending = False)
print(mean.iloc[0] - mean.iloc[-1])

13.860000000000007

In [ ]:
# 10. artist중 artist type 타입을 여러개 가지고 있는 artist는 누구인가

print(df[["artist", "artist type"]].value_counts().reset_index()["artist"].value_counts().index[0])

Rudimental

In [ ]:
#@title 작업 2유형

import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/x_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/y_train.csv")
test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/x_test.csv")


display(x_train.head())
display(y_train.head())

,ID,motion_0,motion_1,motion_2,motion_3,motion_4,motion_5,motion_6,motion_7,motion_8,...,motion_54,motion_55,motion_56,motion_57,motion_58,motion_59,motion_60,motion_61,motion_62,motion_63
0,0,1.0,-2.0,-1.0,4.0,-5.0,-4.0,1.0,0.0,-15.0,...,0.0,-1.0,-13.0,-3.0,1.0,-1.0,-32.0,-22.0,-2.0,-3.0
1,2,20.0,0.0,0.0,1.0,5.0,6.0,-52.0,18.0,15.0,...,-70.0,-55.0,-38.0,-14.0,-12.0,-8.0,-34.0,-63.0,-87.0,-77.0
2,4,1.0,-1.0,1.0,4.0,-5.0,-8.0,1.0,-3.0,-14.0,...,1.0,12.0,-25.0,0.0,0.0,3.0,2.0,-27.0,1.0,0.0
3,5,13.0,2.0,1.0,-3.0,1.0,3.0,28.0,3.0,12.0,...,0.0,-21.0,-17.0,-2.0,0.0,-4.0,-17.0,-21.0,-21.0,25.0
4,6,-2.0,-7.0,-4.0,-8.0,16.0,44.0,1.0,3.0,-16.0,...,-1.0,2.0,-1.0,1.0,4.0,4.0,-17.0,-38.0,-3.0,3.0

   ID  pose
0   0     1
1   2     0
2   4     1
3   5     0
4   6     1

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score, roc_auc_score, confusion_matrix

x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/x_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/y_train.csv")
test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/x_test.csv")

x_train = x_train.drop("ID", axis = 1)
y_train = y_train.drop("ID", axis = 1)
test_id = test.pop("ID")

X_tr, X_val, y_tr, y_val = train_test_split(x_train, y_train, test_size = 0.2, random_state = 123)

nb = GaussianNB()
nb.fit(X_tr, y_tr)
pred = nb.predict(X_val)
print("Naive Bayes: acc -", accuracy_score(y_val, pred), "auc -", roc_auc_score(y_val, pred))
print(confusion_matrix(y_val, pred))

lr = LogisticRegression()
lr.fit(X_tr, y_tr)
pred = lr.predict(X_val)
print("Logistic Regression: acc -", accuracy_score(y_val, pred), "auc -", roc_auc_score(y_val, pred))
print(confusion_matrix(y_val, pred))

dt = DecisionTreeClassifier()
dt.fit(X_tr, y_tr)
pred = dt.predict(X_val)
print("Decision Tree: acc -", accuracy_score(y_val, pred), "auc -", roc_auc_score(y_val, pred))
print(confusion_matrix(y_val, pred))

rf = RandomForestClassifier()
rf.fit(X_tr, y_tr)
pred = rf.predict(X_val)
print("Random Forest: acc -", accuracy_score(y_val, pred), "auc -", roc_auc_score(y_val, pred))
print(confusion_matrix(y_val, pred))

xgb = XGBClassifier()
xgb.fit(X_tr, y_tr)
pred = xgb.predict(X_val)
print("XGBoost: acc -", accuracy_score(y_val, pred), "auc -", roc_auc_score(y_val, pred))
print(confusion_matrix(y_val, pred))

model = DecisionTreeClassifier()
model.fit(x_train, y_train)
prediction = model.predict(test)

result = pd.DataFrame({"ID":test_id, "pose":prediction})
result.to_csv("result.csv", index = False)

/usr/local/lib/python3.9/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.9/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Naive Bayes: acc - 0.9913978494623656 auc - 0.9913974913974913
[[458   4]
 [  4 464]]

/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Logistic Regression: acc - 0.5731182795698925 auc - 0.5725108225108224
[[221 241]
 [156 312]]
Decision Tree: acc - 0.975268817204301 auc - 0.9752192252192253
[[447  15]
 [  8 460]]

<ipython-input-204-708da4104812>:40: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf.fit(X_tr, y_tr)

Random Forest: acc - 0.9913978494623656 auc - 0.9914529914529915
[[462   0]
 [  8 460]]
XGBoost: acc - 0.9989247311827957 auc - 0.998917748917749
[[461   1]
 [  0 468]]

#  기타

In [3]:
# 구구단
for i in range(2, 10):
  for j in range(1, 10):
    print(i, "x", j, "=", i*j)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [6]:
# 1~100까지의 홀수
for i in range(1, 51):
  print(i + (i-1))

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [7]:
# 1부터 100까지의 등차수열 합
def func(n):
  return n * (n+1) / 2

func(100)

5050.0

In [9]:
# 1부터 50까지의 등비수열 합
def func(a, r, n):
  return a * (1 - r ** n) / (1 - r)

func(1, 2, 50)

1125899906842623.0

In [12]:
# 피보나치 수열
def fibonacci(n):
    if n <= 1:
        return n

    fib_1 = 0
    fib_2 = 1

    for i in range(2, n+1):
        fib = fib_1 + fib_2
        fib_1 = fib_2
        fib_2 = fib

    return fib

for i in range(10):
  print(fibonacci(i))

0
1
1
2
3
5
8
13
21
34